{% extends "base.html" %}
{% block content %}
    <div>
        <form action="/pharmacies/account/" method="POST">
            <label for="pharmacy_name"> Name: </label>
            <input type="text" name="pharmacy_name" value = "{{ current_user.pharmacy_name }}">
            <label for="pharmacy_email"> Email: </label>
            <input type="text" name="pharmacy_email" value = "{{ current_user.pharmacy_email }}">
            <label for="pharmacy_email"> Phone: </label>
            <input type="text" name="pharmacy_phone" value = "{{ current_user.pharmacy_phone }}">
            <button> Update </button>
        </form>

        <br/>
        <hr/>
        <p>
            Pharmacy is admin: {{ current_user.is_admin }}
        </p>

        <br><br>
        <h3>
            Enrolled Staffs:
        </h3>
        <ul>
            {% for staff in current_user.enrolled_staffs %}
                <li><a href="/staffs/{{ staff.staff_id }}/">{{ staff.staff_name }}</a></li>
            {% endfor %}
        </ul>

    </div>
{% endblock %}