{% extends "base.html" %}
{% block content %}
    <div>
        <form action="/pharmacies/account/" method="POST">
            <label for="pharmacy_name"> Name: </label>
            <input type="text" name="pharmacy_name" value = "{{ current_user.pharmacy_name }}">
            <label for="pharmacy_email"> Email: </label>
            <input type="text" name="pharmacy_email" value = "{{ current_user.pharmacy_email }}">
            <label for="pharmacy_email"> Phone: </label>
            <input type="text" name="pharmacy_phone" value = "{{ current_user.pharmacy_phone }}">
            <button> Update </button>
        </form>

        <br/>
        <hr/>
        <p>
            Pharmacy is admin: {{ current_user.is_admin }}
        </p>

        <br><br>
        <h3>
            Enrolled Staffs:
        </h3>
        <table class="table table-striped table-boredered">
            <thead>
                <tr>
                    <th>Staff Name</th>
                    <th>Staff Email</th>
                    <th>Staff Date of Birth</th>
                    <th>Staff Salary</th>
                </tr>
            </thead>
            
            {% for staff in page_data.staffs %}
            <tbody>
                <tr>
                    <td>
                        <a href="/staffs/{{ staff.staff_id }}/">{{ staff.staff_name }}</a>
                    </td>
                    <td>
                        {{ staff.staff_email }}
                    </td>
                    <td>
                        {{ staff.staff_dob }}
                    </td>
                </tr>
            </tbody>
            {% endfor %}
        </table> 

    </div>
{% endblock %}