{% extends "base.html" %}
{% block content %}
    <div>
        <h2> Enter Pharmacy Details </h2>
        <div>
            <form action = "/pharmacies/signup/" method = "POST">
                <input type="text" name="pharmacy_name" placeholder="Pharmacy Name...">
                <input type="text" name="pharmacy_email" placeholder="Pharmacy Email...">
                <input type="text" name="pharmacy_phone" placeholder="Pharmacy Phone...">
                <input type="password" name="pharmacy_password" placeholder="Pharmacy Password...">
                <button> Sign Up </button>
            </form>
        </div>
    </div>
{% endblock %}