{% extends "base.html" %}
{% block content %}
    <div>
        <form action="/staffs/account/" method="POST">
            <label for="staff_name"> Name: </label>
            <input type="text" name="staff_name" value = "{{ current_user.staff_name }}">
            <label for="staff_dob"> DOB: </label>
            <input type="text" name="staff_dob" value = "{{ current_user.staff_dob }}">
            <button> Update </button>
        </form>

        <br/>
        <hr/>

        <h3> Update File: </h3>
        <form action="/staffs/{{ current_user.staff_id }}/image/" method="POST" enctype = "multipart/form-data">
            <input type="file" name="image">
            <input type="submit">
        </form>

    </div>
{% endblock %}