{% extends "base.html" %}
{% block content%}        
    
    <h2> {{ page_data.staff.staff_name }} </h2>
    <p> Staff ID: {{ page_data.staff.staff_id }}</p>
    <p> Staff Email: {{ page_data.staff.staff_email }}</p>
    <p> Staff DOB: {{ page_data.staff.staff_dob }}</p>

    <br><br>
    
    <h3>Update Staff Info:</h3>
    <form action='/staffs/{{ page_data.staff.staff_id }}/', method ="POST">
        <input type="text" name="staff_name" value="{{ page_data.staff.staff_name }}"/>
        <input type="text" name="staff_email" value="{{ page_data.staff.staff_email }}"/>
        <input type="text" name="staff_dob" value="{{ page_data.staff.staff_dob }}"/>
        <button>Update</button>
    </form>

    <br><br>

    <a href="{{ page_data.image }}"></a> 

    <h3> Update File: </h3>
    <form action="/staffs/{{ page_data.staff.staff_id }}/image/" method="POST" enctype = "multipart/form-data">
        <input type="file" name="image">
        <input type="submit">
    </form>

    <br> </br>
    
    <form action = "/staffs/{{ page_data.staff.staff_id }}/delete/", method = "POST">
        <button>Delete Staff</button>
    </form>

{% endblock %}